#modal {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .5);
    position: absolute;
    display: none;
}
.modal-content {
    margin: 20%;
    background-color: white;
    padding: 35px;
}

.close-button {
    float: right;
    font-size: 4em;
}