* {
    box-sizing: border-box;
  }
  
  .content {
    width: 80%;
    height: 500px;
    border: 1px solid;
  }
  
  .red {
    width: 100px;
    height: 100px;
    background-color: red;
    /* animation: slideIn 2s ease-in-out; */
    transition: 2s;
  }
  /* @keyframes slideIn {
    0%{transform: translateX(-100%) scale(2)}
    100%{transform: translateX(0) scale(1)}
  } */
  .red:hover {
    border-radius: 50%;
    background-color: blue;
    
  }
  
  .yellow {
    width: 100px;
    height: 100px;
    background-color: gold;
    border-radius: 0 0 50% 50%;
    animation-name: rock;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    /* or animation: rock 5s infinite; */
  }
  @keyframes rock { 
    0% { transform: rotate(-90deg); }
    25% { transform: rotate(90deg); }
    50% { transform: rotate(-90deg); }
    75% { transform: rotate(90deg); }
    100% { transform: rotate(-90deg); } /* Matches the initial state */
  }
  
  
  .green {
    width: 100px;
    height: 40px;
    background-color: green;
    border: 0;
    
  }
  .green:hover ~ .blue {
    height: 100px;
    opacity: 1;
    
  }
  .blue {
    width: 100px;
    height: 0;
    opacity: 0;
    background-color: blue;
    transition: 3s;
  }
  .show {
    height: 100px;
    opacity: 1;
  }